In [25]:
import tensorflow as tf

import numpy as np 

import pandas as pd

<h3>(1-1) prepare taxi_dataset
</h3>

In [4]:
df = pd.read_csv('csv/ml-2-taxi.csv')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,tolls_amount,fare_amount,total_amount
0,2011-12-03 10:28:00,-73.998822,40.680933,-73.968960,40.757878,1,8.28,0.0,20.9,25.58
1,2012-05-05 22:46:05,-74.009790,40.712483,-73.959293,40.768908,1,5.20,0.0,16.9,19.90
2,2010-12-21 13:08:00,-73.982422,40.739847,-73.981658,40.768732,2,2.64,0.0,14.9,15.40
3,2014-04-30 16:45:10,-73.989434,40.756601,-73.949989,40.826892,1,6.20,0.0,24.5,31.20
4,2013-04-09 09:39:13,-73.981443,40.763466,-74.010072,40.704927,1,6.50,0.0,24.5,30.00

In [22]:
# 取出前30項來做實驗

df1 = df.loc[0:30,['pickup_datetime','trip_distance', 'total_amount']]
df1

        pickup_datetime  trip_distance  total_amount
0   2011-12-03 10:28:00           8.28         25.58
1   2012-05-05 22:46:05           5.20         19.90
2   2010-12-21 13:08:00           2.64         15.40
3   2014-04-30 16:45:10           6.20         31.20
4   2013-04-09 09:39:13           6.50         30.00
5   2014-04-19 14:08:46           8.70         33.75
6   2014-12-08 21:50:00           5.33         27.00
7   2012-03-04 00:57:00           7.33         23.50
8   2013-12-09 15:03:00           9.44         34.83
9   2013-08-21 23:14:38          10.30         37.00
10  2012-02-21 11:53:00          11.90         38.54
11  2009-09-25 03:47:00           5.76         17.40
12  2011-06-04 02:52:10           5.30         16.30
13  2013-12-21 06:21:00           5.85         23.30
14  2009-11-20 10:54:26           5.80         15.80
15  2014-10-06 15:16:00          11.47         47.33
16  2014-12-08 21:50:00          11.81         37.50
17  2010-05-26 16:15:03           6.10         25.76
18  2012-03-30 18:28:20           5.70         18.80
19  2015-02-17 21:29:49           7.12         30.36
20  2014-10-28 06:59:59           4.70         25.00
21  2009-02-12 17:51:38           1.70         11.60
22  2012-02-27 09:19:10          11.60         38.00
23  2011-12-15 23:27:26          10.00         27.00
24  2013-01-04 05:05:28           6.90         20.50
25  2014-09-06 12:05:18           3.20         20.00
26  2013-10-20 22:05:16           7.80         29.37
27  2009-03-28 20:30:35           0.50          4.60
28  2009-08-23 23:59:22           8.30         18.90
29  2012-02-21 11:53:00          10.85         39.50
30  2014-05-20 23:09:00          10.31         38.00

In [32]:
df1[0:1]
type(df1[0:1])

       pickup_datetime  trip_distance  total_amount
0  2011-12-03 10:28:00           8.28         25.58

pandas.core.frame.DataFrame

In [34]:
df1.iloc[0]
type(df1.iloc[0])

pickup_datetime    2011-12-03 10:28:00
trip_distance                     8.28
total_amount                     25.58
Name: 0, dtype: object

pandas.core.series.Series

<h4>Note:  <br>
we now know the difference  between df[] and df.loc</h4>
<ul><li> df[] selection returns a datefram</li>
<li> df.loc selection returns a pd.series
</li></ul>

In [37]:
df1.loc[0][0]
type(df1.loc[0][0])

'2011-12-03 10:28:00'

str

In [23]:
df1.to_csv('csv/taxi-simple.csv')

<h3>(1-2)prepare iris dataset
</h3>

<ul><li> add ./py to sys.path
</li></ul>

In [3]:
!pwd
import sys
sys.path.append('./py')
sys.path

/Users/julienjazz/z1/Jupyter/Notebook

['',
 '/anaconda3/lib/python36.zip',
 '/anaconda3/lib/python3.6',
 '/anaconda3/lib/python3.6/lib-dynload',
 '/Users/julienjazz/.local/lib/python3.6/site-packages',
 '/anaconda3/lib/python3.6/site-packages',
 '/anaconda3/lib/python3.6/site-packages/aeosa',
 '/anaconda3/lib/python3.6/site-packages/setuptools-33.1.1-py3.6.egg',
 '/anaconda3/lib/python3.6/site-packages/pip-18.0-py3.6.egg',
 '/Users/julienjazz/projects/aia-donkeycar',
 '/anaconda3/lib/python3.6/site-packages/IPython/extensions',
 '/Users/julienjazz/.ipython',
 './py']

In [26]:
import iris_data

# Fetch the data
train, test = iris_data.load_data()
features, labels = train

In [27]:
type(features)
type(labels)     # an array-like

pandas.core.frame.DataFrame

pandas.core.series.Series

In [28]:
features.head()
features.info()
labels[0:5]

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          6.4         2.8          5.6         2.2
1          5.0         2.3          3.3         1.0
2          4.9         2.5          4.5         1.7
3          4.9         3.1          1.5         0.1
4          5.7         3.8          1.7         0.3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
SepalLength    120 non-null float64
SepalWidth     120 non-null float64
PetalLength    120 non-null float64
PetalWidth     120 non-null float64
dtypes: float64(4)
memory usage: 3.8 KB

0    2
1    1
2    2
3    0
4    0
Name: Species, dtype: int64

<ul><li> Dataset.from_tensor_slices(   dic(dataframe),  df.series   )
</li></ul>

In [29]:
dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

<h3> Print [tf.dataset Tensor Object ]
</h3>

In [30]:
print(dataset)

<TensorSliceDataset shapes: ({SepalLength: (), SepalWidth: (), PetalLength: (), PetalWidth: ()}, ()), types: ({SepalLength: tf.float64, SepalWidth: tf.float64, PetalLength: tf.float64, PetalWidth: tf.float64}, tf.int64)>

<h3>(2)</h3>

In [33]:
dataset = tf.data.TextLineDataset('taxi-simple.csv')

In [34]:
type(dataset)

tensorflow.python.data.ops.readers.TextLineDataset

<h3> \* TestLine Object has no shape <br>
\* maybe it is a generator , which generate each line at a time
</h3>

In [35]:
print(dataset)

<TextLineDataset shapes: (), types: tf.string>

In [36]:
def decode_line(txt_line):
    cols = tf.decode_csv(txt_line, 
                         record_defaults=[['string'],[0],[0]]) 
    
    features = {'sq_footage': cols[0], 'type': cols[1]}
    label = cols[2] # price
    return features, label

In [37]:
dataset2 = tf.data.TextLineDataset('taxi-simple.csv').map(decode_line)

<h3> After map , there is a shape
</h3>

In [38]:
type(dataset2)

tensorflow.python.data.ops.dataset_ops.MapDataset

In [39]:
print(dataset2)

<MapDataset shapes: ({sq_footage: (), type: ()}, ()), types: ({sq_footage: tf.string, type: tf.int32}, tf.int32)>

In [8]:
with tf.Session() as sess:
    _dataset = sess.run(dataset)

TypeError: Fetch argument <TextLineDataset shapes: (), types: tf.string> has invalid type <class 'tensorflow.python.data.ops.readers.TextLineDataset'>, must be a string or Tensor. (Can not convert a TextLineDataset into a Tensor or Operation.)