# Topic : Convert a df Series from String Represenation of Datetime Object to DatetieObject

In [24]:
import pandas as pd 
import datetime

In [25]:
df = pd.read_csv('ml-2-taxi.csv',encoding='utf-8')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,tolls_amount,fare_amount,total_amount
0,2011-12-03 10:28:00,-73.998822,40.680933,-73.968960,40.757878,1,8.28,0.0,20.9,25.58
1,2012-05-05 22:46:05,-74.009790,40.712483,-73.959293,40.768908,1,5.20,0.0,16.9,19.90
2,2010-12-21 13:08:00,-73.982422,40.739847,-73.981658,40.768732,2,2.64,0.0,14.9,15.40
3,2014-04-30 16:45:10,-73.989434,40.756601,-73.949989,40.826892,1,6.20,0.0,24.5,31.20
4,2013-04-09 09:39:13,-73.981443,40.763466,-74.010072,40.704927,1,6.50,0.0,24.5,30.00

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10789 entries, 0 to 10788
Data columns (total 10 columns):
pickup_datetime      10789 non-null object
pickup_longitude     10789 non-null float64
pickup_latitude      10789 non-null float64
dropoff_longitude    10789 non-null float64
dropoff_latitude     10789 non-null float64
passenger_count      10789 non-null int64
trip_distance        10789 non-null float64
tolls_amount         10789 non-null float64
fare_amount          10789 non-null float64
total_amount         10789 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 843.0+ KB

## try my hand first

In [27]:
sample = df['pickup_datetime'][0]
sample

'2011-12-03 10:28:00'

In [28]:
sample_p=datetime.datetime.strptime(sample, '%Y-%m-%d %H:%M:%S')
sample_p

datetime.datetime(2011, 12, 3, 10, 28)

## method1- list comprehension  !!

In [29]:
len(df)

10789

In [30]:
_list = [datetime.datetime.strptime(df['pickup_datetime'][i],'%Y-%m-%d %H:%M:%S') for i in range(len(df))]

series= pd.Series(_list)

In [31]:
df['pickup_datetime']=series
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10789 entries, 0 to 10788
Data columns (total 10 columns):
pickup_datetime      10789 non-null datetime64[ns]
pickup_longitude     10789 non-null float64
pickup_latitude      10789 non-null float64
dropoff_longitude    10789 non-null float64
dropoff_latitude     10789 non-null float64
passenger_count      10789 non-null int64
trip_distance        10789 non-null float64
tolls_amount         10789 non-null float64
fare_amount          10789 non-null float64
total_amount         10789 non-null float64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 843.0 KB

# Method 2 : Use Lexical Enclosure

## transform datetime object to string object

In [32]:
str(df['pickup_datetime'][0])

'2011-12-03 10:28:00'

In [33]:
df['pickup_datetime']=df['pickup_datetime'].apply(str)
df['pickup_datetime'][0]

'2011-12-03 10:28:00'

## Lexical Enclosure

In [34]:
def strptime_enclosure(_string):
    argument = '%Y-%m-%d %H:%M:%S'
    return datetime.datetime.strptime(_string, argument)

In [35]:
df['pickup_datetime']=df['pickup_datetime'].apply(strptime_enclosure)
df['pickup_datetime'][0]

Timestamp('2011-12-03 10:28:00')

## Save

In [26]:
df.to_csv('taxi_2.csv',encoding='utf-8',index=False)

In [27]:
df_3=pd.read_csv('taxi_2.csv',encoding='utf-8')
df_3.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,tolls_amount,fare_amount,total_amount
0,2011-12-03 10:28:00,-73.998822,40.680933,-73.968960,40.757878,1,8.28,0.0,20.9,25.58
1,2012-05-05 22:46:05,-74.009790,40.712483,-73.959293,40.768908,1,5.20,0.0,16.9,19.90
2,2010-12-21 13:08:00,-73.982422,40.739847,-73.981658,40.768732,2,2.64,0.0,14.9,15.40
3,2014-04-30 16:45:10,-73.989434,40.756601,-73.949989,40.826892,1,6.20,0.0,24.5,31.20
4,2013-04-09 09:39:13,-73.981443,40.763466,-74.010072,40.704927,1,6.50,0.0,24.5,30.00

In [28]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10789 entries, 0 to 10788
Data columns (total 10 columns):
pickup_datetime      10789 non-null object
pickup_longitude     10789 non-null float64
pickup_latitude      10789 non-null float64
dropoff_longitude    10789 non-null float64
dropoff_latitude     10789 non-null float64
passenger_count      10789 non-null int64
trip_distance        10789 non-null float64
tolls_amount         10789 non-null float64
fare_amount          10789 non-null float64
total_amount         10789 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 843.0+ KB