# Topic 1 : Transfer a string representation of a datetime object in csv to datetime object

In [5]:
import pandas as pd 
import datetime

In [3]:
df = pd.read_csv('taxi.csv',encoding='utf-8')
df.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,tolls_amount,fare_amount,total_amount
0,2011-12-03 10:28:00,-73.998822,40.680933,-73.968960,40.757878,1,8.28,0.0,20.9,25.58
1,2012-05-05 22:46:05,-74.009790,40.712483,-73.959293,40.768908,1,5.20,0.0,16.9,19.90
2,2010-12-21 13:08:00,-73.982422,40.739847,-73.981658,40.768732,2,2.64,0.0,14.9,15.40
3,2014-04-30 16:45:10,-73.989434,40.756601,-73.949989,40.826892,1,6.20,0.0,24.5,31.20
4,2013-04-09 09:39:13,-73.981443,40.763466,-74.010072,40.704927,1,6.50,0.0,24.5,30.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10789 entries, 0 to 10788
Data columns (total 10 columns):
pickup_datetime      10789 non-null object
pickup_longitude     10789 non-null float64
pickup_latitude      10789 non-null float64
dropoff_longitude    10789 non-null float64
dropoff_latitude     10789 non-null float64
passenger_count      10789 non-null int64
trip_distance        10789 non-null float64
tolls_amount         10789 non-null float64
fare_amount          10789 non-null float64
total_amount         10789 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 843.0+ KB

## try my hand first  -- strptime()

In [8]:
sample = df['pickup_datetime'][0]
sample

'2011-12-03 10:28:00'

In [10]:
sample_p=datetime.datetime.strptime(sample, '%Y-%m-%d %H:%M:%S')
sample_p

datetime.datetime(2011, 12, 3, 10, 28)

## action !!

In [12]:
len(df)

10789

In [20]:
_list = [datetime.datetime.strptime(df['pickup_datetime'][i],'%Y-%m-%d %H:%M:%S') for i in range(len(df))]

series= pd.Series(_list)

In [22]:
df['pickup_datetime']=series
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10789 entries, 0 to 10788
Data columns (total 10 columns):
pickup_datetime      10789 non-null datetime64[ns]
pickup_longitude     10789 non-null float64
pickup_latitude      10789 non-null float64
dropoff_longitude    10789 non-null float64
dropoff_latitude     10789 non-null float64
passenger_count      10789 non-null int64
trip_distance        10789 non-null float64
tolls_amount         10789 non-null float64
fare_amount          10789 non-null float64
total_amount         10789 non-null float64
dtypes: datetime64[ns](1), float64(8), int64(1)
memory usage: 843.0 KB

## Save

In [26]:
df.to_csv('taxi_2.csv',encoding='utf-8',index=False)

In [27]:
df_3=pd.read_csv('taxi_2.csv',encoding='utf-8')
df_3.head()

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,tolls_amount,fare_amount,total_amount
0,2011-12-03 10:28:00,-73.998822,40.680933,-73.968960,40.757878,1,8.28,0.0,20.9,25.58
1,2012-05-05 22:46:05,-74.009790,40.712483,-73.959293,40.768908,1,5.20,0.0,16.9,19.90
2,2010-12-21 13:08:00,-73.982422,40.739847,-73.981658,40.768732,2,2.64,0.0,14.9,15.40
3,2014-04-30 16:45:10,-73.989434,40.756601,-73.949989,40.826892,1,6.20,0.0,24.5,31.20
4,2013-04-09 09:39:13,-73.981443,40.763466,-74.010072,40.704927,1,6.50,0.0,24.5,30.00

In [28]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10789 entries, 0 to 10788
Data columns (total 10 columns):
pickup_datetime      10789 non-null object
pickup_longitude     10789 non-null float64
pickup_latitude      10789 non-null float64
dropoff_longitude    10789 non-null float64
dropoff_latitude     10789 non-null float64
passenger_count      10789 non-null int64
trip_distance        10789 non-null float64
tolls_amount         10789 non-null float64
fare_amount          10789 non-null float64
total_amount         10789 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 843.0+ KB

# Topic 2

In [1]:
import pandas as pd 
df = pd.read_csv('ml-2-taxi_2.csv',encoding='utf-8')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10789 entries, 0 to 10788
Data columns (total 10 columns):
pickup_datetime      10789 non-null object
pickup_longitude     10789 non-null float64
pickup_latitude      10789 non-null float64
dropoff_longitude    10789 non-null float64
dropoff_latitude     10789 non-null float64
passenger_count      10789 non-null int64
trip_distance        10789 non-null float64
tolls_amount         10789 non-null float64
fare_amount          10789 non-null float64
total_amount         10789 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 843.0+ KB

In [2]:
goodrows = df[df['pickup_longitude'] < -70]
goodrows[:10]

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,tolls_amount,fare_amount,total_amount
0,2011-12-03 10:28:00,-73.998822,40.680933,-73.968960,40.757878,1,8.28,0.00,20.9,25.58
1,2012-05-05 22:46:05,-74.009790,40.712483,-73.959293,40.768908,1,5.20,0.00,16.9,19.90
2,2010-12-21 13:08:00,-73.982422,40.739847,-73.981658,40.768732,2,2.64,0.00,14.9,15.40
3,2014-04-30 16:45:10,-73.989434,40.756601,-73.949989,40.826892,1,6.20,0.00,24.5,31.20
4,2013-04-09 09:39:13,-73.981443,40.763466,-74.010072,40.704927,1,6.50,0.00,24.5,30.00
5,2014-04-19 14:08:46,-73.964716,40.773071,-73.997511,40.697289,1,8.70,0.00,26.5,33.75
6,2014-12-08 21:50:00,-73.994802,40.720612,-73.949125,40.668893,1,5.33,0.00,22.0,27.00
7,2012-03-04 00:57:00,-74.005625,40.734517,-73.952492,40.725197,1,7.33,0.00,20.5,23.50
8,2013-12-09 15:03:00,-73.990950,40.749772,-73.870807,40.774070,1,9.44,5.33,29.0,34.83
9,2013-08-21 23:14:38,-73.783667,40.648622,-73.918375,40.700288,2,10.30,0.00,32.0,37.00

In [6]:
for _iter, row in goodrows[:10].iterrows():
    print('iter= ',_iter)
    print(type(row))

iter=  0
<class 'pandas.core.series.Series'>
iter=  1
<class 'pandas.core.series.Series'>
iter=  2
<class 'pandas.core.series.Series'>
iter=  3
<class 'pandas.core.series.Series'>
iter=  4
<class 'pandas.core.series.Series'>
iter=  5
<class 'pandas.core.series.Series'>
iter=  6
<class 'pandas.core.series.Series'>
iter=  7
<class 'pandas.core.series.Series'>
iter=  8
<class 'pandas.core.series.Series'>
iter=  9
<class 'pandas.core.series.Series'>